.login {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: rgb(236, 229, 229);
    background-color: #121214;
}

.login-logo img {
    width: 300px;;
    height: 300px;
}

.login-left{
    background-color: #29292e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;
}
.login-left h1 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    margin-bottom: 20px;
}

.login-left h4 {
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(226, 215, 215);
}

.loginInputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1a1a1d;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;

}

.loginInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.loginInputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.loginInputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1a1a1d;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 3px;
}

.loginInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.loginInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #e1e1e6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.login-left button {
    background-color: #202024;
    color: #eff2f5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    width: 98%;
    border: none;

    outline-width: 0;
}

.login-left button:hover {
    background-color: #121214;
    color: #eff2f5;
    cursor: pointer;
}